.jumbotron {
  background-image: url("../img/burger123.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #ffffff;
  color: #0e0d0d;
  margin-top: 3%;
}
#newburger {
  color: #5c5c5c;
  width: 100%;
}
#leftside {
  background-color: #5c5c5c;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#rightside {
  background-color: #e49322;
  color: white;
  text-align: center;
  font-size: 1.3em;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
